!!!
%html
	%head
		%title Архиватор FriendFeed

		%meta{"http-equiv" => "Content-Type", :content => "text/html", :charset => "utf-8"}
		
		%link{:rel => "stylesheet", :type => "text/css", :href => "/friendfeed.css"}
		/
			%link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery-ui.css"}
			%link{:rel => "stylesheet", :type => "text/css", :href => "/css/jquery.lightbox.css"}
			

			%script{:type => "text/javascript", :src  => "/js/jquery.js"}
			%script{:type => "text/javascript", :src  => "/js/jquery-ui.js"}
			%script{:type => "text/javascript", :src  => "/js/jquery.lightbox.js"}
			%script{:type => "text/javascript", :src  => "/js/nanowrimo.js"}
		%body
			%div.content
				!= yield
