%p Ффух, справился. Можно скачивать:
%p.mainLink
	%a{:href => @link} #{@link}
	
%p 
	Чтобы скачанный архив работал в Chrome, надо запускать браузер с доп.параметром <tt>--allow-file-access-from-files</tt>. Чтобы работал в Opera >=11, нужно поставить галку в 
	%a{:href=>"opera:config#UserPrefs|AllowFileXMLHttpRequest"} opera:config#UserPrefs|AllowFileXMLHttpRequest.
